<div class="login-container d-flex flex-column justify-content-center">
  <div class="row">
    <div class="d-none d-lg-flex col-7 flex-column justify-content-center">
      <h1 class="text-white">Movam</h1>
      <h3 class="welcome-note">Welcome Back !</h3>
      <p class="text-white w-50">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Pellentesque euismod, nisi eu consectetur consectetur,
        nisl nisi consectetur nisi, eu consectetur nisi nisi eu
        consectetur consectetur.
    </div>
    <form
      [formGroup]="loginDetails"
      class="form-container col-10 col-lg-5 d-flex flex-column"
    >
      <section class="d-flex flex-column">
        <label class="login-label" for="name">Your Name</label>

        <input
          required
          class="input"
          formControlName="name"
          type="text"
          name="name"
        />
        <div
          class="error"
          *ngIf="
            loginDetails.get('name')?.hasError('required') &&
            loginDetails.get('name')?.dirty
          "
        >
          Name is required
        </div>
      </section>
      <section class="d-flex flex-column">
        <label class="login-label" for="email">Email</label>

        <input
          required
          class="input"
          formControlName="email"
          type="text"
          name="email"
        />
        <div
          class="error"
          *ngIf="
            loginDetails.get('email')?.hasError('required') &&
            loginDetails.get('email')?.dirty
          "
        >
          Email is required
        </div>
        <div
          class="error"
          *ngIf="
            loginDetails.get('email')?.hasError('email') &&
            loginDetails.get('email')?.dirty
          "
        >
          Enter a Valid Email Address
        </div>
      </section>
      <section class="d-flex flex-column">
        <label class="login-label" for="password">Password</label>

        <input
          required
          class="input"
          formControlName="password"
          type="password"
          name="password"
        />
        <div
          class="error"
          *ngIf="
            loginDetails.get('password')?.hasError('required') &&
            loginDetails.get('password')?.dirty
          "
        >
          Password is required
        </div>
        <div
          class="error"
          *ngIf="
            (loginDetails.get('password')?.hasError('pattern') ||
              loginDetails.get('password')?.hasError('minlength')) &&
            loginDetails.get('password')?.dirty
          "
        >
          Password must be at least 6 characters long and contain at least one
          number, one uppercase and one lowercase letter, one special character
        </div>
      </section>
      <div class="error" *ngIf="loginDetails.invalid && submitted">
        Please enter your credentials to login.
      </div>
      <div class="action">
        <button class="btn btn-primary" (click)="onSubmit()">Submit</button>
      </div>
    </form>
  </div>
</div>
